<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>
<body>

    <%- include('../partials/header') %>

    <hr>
    <main>
        <br>
        <section class="hero" style="justify-content: center;">
            <h1>Carga Aquí tus Productos</h1>
        </section>
        <br>

        <section class="formact">
            <form action="" method="post" enctype="multipart/form-data">
                <div>
                    <label for="codigo">Código</label>
                    <input id="codigo" name="codigo" type="number">
                </div>
                <div>
                    <label for="name">Nombre</label>
                    <input id="name" name="name" type="text">
                </div>
                <div>
                    <label for="category">Categoría</label>
                    <input id="category" name="category" type="text">
                </div>
                <div>
                    <label for="image">Foto</label>
                    <input id="image" name="image" type="file">
                </div>
                <div>
                    <label for="price">Precio</label>
                    <input id="price" name="price" type="number">
                </div>
                <div>
                    <label for="description">Descripción</label>
                    <input id="description" name="description" type="text">
                </div>
                <button type="submit">Actualizar o Cargar</button>
            </form>
            <br>
        </section>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>