<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>
<body>

    <%- include('../partials/header') %>

    <hr>
    <main>
        <br>
        <section class="hero" style="justify-content: center;">
            <h1>Carga Aquí tus Productos</h1>
        </section> 
        <br>
        <section class="formact">
            <form action="/admin/products/create" method="POST" enctype="multipart/form-data">
                <label id="label">Nombre: <input id="nombre" name="nombre" type="text" placeholder="Nombre" value=""></label>
                <label id="label">Marca: <input id="marca" name="marca" type="text" placeholder="Marca" value=""></label>
                <label id="label">Imagen: <input id="imagen" name="imagen" type="file" placeholder="Imagen" value="" multiple></label>
                <label id="label">Precio: <input id="precio" name="precio" type="number" placeholder="Precio" value=""></label>
                <label id="label">Stock:  <br><input id="stock" name="stock" type="number" placeholder="Stock" value=""></label>
                <label id="label">Categoría: <input id="id_categoria" name="id_categoria" type="text" placeholder="Categoría" value=""></label>
                <label id="label">Descripción del Producto: <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripción"></textarea></label>
                <button type="submit">Crear</button>
            </form>
            <br>
        </section>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>