<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>
<body>

    <%- include('../partials/header') %>

    <hr>
    <main>
        <br>
        <section class="hero" style="justify-content: center;">
            <h1>Carga Aquí tus Productos</h1>
        </section>
        <br>
        <section class="formact">
            <form action="" method="post" enctype="multipart/form-data">
                <input id="code" name="code" type="number" placeholder="Código">
                <input id="name" name="name" type="text" placeholder="Nombre">
                <input id="category" name="category" type="text" placeholder="Categoría">
                <input id="image" name="image" type="file" placeholder="Imagen">
                <input id="price" name="price" type="number" placeholder="Precio">
                <input id="description" name="description" type="text" placeholder="Categoría">
                <button type="submit">Actualizar o Cargar</button>
            </form>
            <br>
        </section>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>