<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>
<body>

    <%- include('../partials/header') %>

    <hr>
    <main>
        <br>
        <section class="hero2" style="justify-content: center;">
            <h1 class="eliminaste">Eliminaste el producto</h1>
            <i id="delete" class="fas fa-trash-alt"></i>
            <div class="botonSeguiComprando"><a href="/"><button class="seguiComprando">Click aquí para seguir navegando</button></a></div>
        </section>
    </main> 
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>