<footer>
    <div class="newsletter">
        <p class="zona41">NEWSLETTER</p>
        <p class="zona42">Suscribete al newsletter CERVECERO</p>
        <div class="busca2">
            <form class="zona43" action="">
                <input type="email" placeholder="Suscribirse">
                <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        </form>
    </div>
    <div class="caja2">
        <ul class="caja21">
            <li><a href="#">TÉRMINOS DE USO</a></li>
            <li><a href="#">PÓLITICA DE PRIVACIDAD</a></li>
            <li><a href="#">NOTIFICACIONES</a></li>
            <li><a href="#">PREGUNTAS FRECUENTES</a></li>
        </ul>
    </div>
    <div class="caja3">
        <p class="contacto">CONTACTÁNOS</p>
        <ul class="caja31">
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
        </ul>
    </div>
</footer>