<header>
    <div class="brand">
        <!--<img class="logo" src="" alt="Logo">-->
        <i id="class1" class="fas fa-beer"></i>

        <div class="busca">
            <form action="">
                <input type="text" placeholder="Encuentra lo que buscas aqui..."><button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <nav class="login">
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Registro</a></li>
                    <li><a href="#">Carrito</a></li>
                </ul>
            </nav>    
        </div>
        <nav class="barra">
            <button class="burguer"><i id="class2" class="fas fa-bars"></i></button>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </div>
</header>