@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2;
    text-align: center;
    font-family: ubuntu;
    font-weight: 400;
    
}

/*************************************************/
/************************HEADER*************************/
/*************************************************/
/* ================
- Header
================ */

#class1 {
    color: #00ebb9;
    text-decoration: none;
}

header {
    background: #f0efeb;
    padding: 30px 100px 0px 100px;
    color: #023047;
}

header div.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header div.brand i#class1 {
    font-size: 80px;
}

header .logo {
    height: 100px;
    width: 100px;
    background-color: black;
}

header nav button.burguer{
    display: none;
}

header .barra {
    /* justify-content: center; */
    width: 100%;
    margin-top: 20px;
}
header .barra ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
header .barra ul li{
    width: 180px;
    height: 40px;
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
    background-color: none;
    border-radius: 5px;
    text-align: center;
}
header .barra ul li a{
    text-decoration: none;
    font-size: 20px;
    color:#023047;
    text-align: right;
    vertical-align: middle;
}

/* ================
- Header - buscador
================ */
header div.busca {
    width: 400px;
    height: 100px;
}

header .brand div form {
    width: 100%;
    height: 50px;
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
}

header .brand div form input[type="text"] {
    width: 90%;
    border: none;
    font-size: 18px;
}

header .brand form button[type="submit"] {
    width: 10%;
    background: none;
    border: none;
    font-size: 20px;
    color: #686868;
    border-left: 1px solid #EAEDE6;
    padding: 0;
    text-align: right
}

header .brand form button[type="submit"] i.fa-search {
    margin-right: 0px;
    font-size: 20px;
}

/* ================
- Header - Nav debajo del buscador
================ */

.login {
    width: 80%;
    margin-left: 10%;
}
.login ul {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.login ul li {
    width: 150px;
    height: 20px;
    display: inline;
    vertical-align: middle;
    border-radius: 5px;
    text-align: center;
}
.login ul li a {
    text-decoration: none;
    color:#6d6875;
    text-align: right;
    vertical-align: middle;
    font-size: 20px;
}

/* ================
Header - Media
================ */

@media (max-width: 768px) {
    header {
        padding: 5px 30px 5px 30px;
        background: #f0efeb;
        color: #023047;
    }
    header div.brand {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        align-items: center;
    }
    header div.brand i#class1 {
        font-size: 80px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    header nav button.burguer{
        display: inline-block;
        align-items: center;
        background-color: #023047;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 30px;
        /* width: 20%; */
    }
    nav.burguer li i#class2 {
        font-size: 20px;
    }
    header .barra {
        width: 100%;
        text-align: center;

    }
    header .barra ul{
        display: none;
    }
    header div.busca {
        width: 100%;
        height: 100%;
    }
    
    header .brand div form {
        width: 100%;
        height: 30px;
        display: inline-block;
        background-color: #fff;
        padding: 4px;
        border-radius: 6px;
    }
        header .brand div form input[type="text"] {
        width: 90%;
        border: none;
    }
        header .brand form button[type="submit"] {
        width: 10%;
        background: none;
        border: none;
        font-size: 10px;
        color: #686868;
        border-left: 1px solid #EAEDE6;
        padding: 0;
        text-align: right
    }
    
    header .brand form button[type="submit"] i.fa-search {
    }
}

/*---------------------------------------------------*/
/*-------------------------MAIN------------------------*/
/*---------------------------------------------------*/

main .caja {
    width: 450px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    margin-top: 100px;
    margin-bottom:50px;
    border-radius: 10px;
}

/*-------------------------BOTON INGRESAR/REGISTRAR------------------------*/

main .caja .boton{
    width: 100%;
}

main .caja .boton a {
    width: 49.5%;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

main .caja .boton .crear{
    border-bottom: 5px solid rgb(44, 44, 44);
    opacity: 0.5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: gray;
}

main .caja .boton .crear:hover{
    opacity: 1;
    border-bottom: 5px solid red;
    background-color: #fff;
}

main .caja .boton .ingresar{
    border-bottom: 5px solid red;
}

/*-------------------------BOTON INGRESAR/REGISTRAR------------------------*/

main .caja .redes {
    margin-top: 15px;
    border-bottom: 3px solid grey;
}

main .caja .redes .botones-redes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

main .caja .redes .botones-redes a{
    border-radius: 50%;
    color: white;
    padding: 20px;
    font-size: 40px;
    margin:10px 5px;
    width: 85px;

}

main .caja .redes .botones-redes .mail{
    background-color:#DB4437 ;
}

main .caja .redes .botones-redes .facebook{
    background-color:#4267B2 ;
}

main .caja .redes .botones-redes .instagram{
    background-color:#3f729b ;
}

main .caja .redes .botones-redes .twitter{
    background-color:#1DA1F2 ;
}

main .caja .redes .botones-redes a:hover{
    opacity: 0.5;
}

main .caja .formulario {
    margin: 15px 0;
}

main .caja .formulario h3 {
    margin: 15px 0;
}

main .caja .formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
}

main .caja .formulario form input {
    width:90%;
    margin-bottom: 10px;
    padding: 15px 7px;
    border-radius: 5px;
    border:1px solid grey;
}

main .caja .formulario form .text-danger {
    color: red;
    margin-bottom: 15px;
}

main .caja .formulario form button {
    background-color: rgba(0, 8, 247, 0.64);
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    font-size: 20px;
    border: none;
    margin-top: 15px;
}

main .caja .formulario form button:hover {
    background-color: rgba(0, 8, 247, 0.40);
}

main .caja p {
    font-size: 16px;
    padding-bottom: 15px; 
}

main .caja p a{
    text-decoration: none;
}

main .caja .formulario .categoria {
    width: 90%;
    height: 48px;
    margin-bottom: 10px;
    padding: 15px 7px;
    border-radius: 5px;
    border: 1px solid grey;
    display: flex;
}
main .caja .formulario .categoria p {
    font-size: 13px;
    font-family: PT Sans;
    color: #555;
    margin-right: 10px;
}
main .caja .formulario .categoria select {
    font-size: 13px;
    font-family: PT Sans;
    color: #555;
    margin-left: 10px;
    height: 23px;
    width: 60%;
}

.recordame #cbox{
    display: flex;
    width: 90%;
}

/* ================
- Main - Idioma
================ */

.idioma {
    background-color: #370617;
    display: flex;
    width: 100%;
}

p.idioma1 {
    color: white;
    text-align: right;
}
select.idioma2 {
}

@media (max-width: 768px) {
    .idioma1 {
        /* width: 100%;
        margin-left: 55%; */
    }
}


/******************************************************************/
/*****************************FOOTER*************************************/
/******************************************************************/

footer {
    background-color: #023047;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer .newsletter {
    height: 150px;
    width: 30%;
    /*align-items: center;
    justify-content: space-between;*/
}
footer .zona41 {
    color: white;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
}

footer .zona42 {
    color: white;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}

.busca2 {
    width: 300px;
    height: 100px;
}

.zona43 {
    width: 100%;
    height: 30px;
    display: inline-block;
    background-color: white;
    border-radius: 6px;
}

.zona43 [type="email"] {
    width: 80%;
    border: none;
    margin-left: 10px;
    font-size: 13px;
}

.zona43 [type="submit"] {
    width: 10%;
    background: none;
    border: none;
    font-size: 20px;
    color: #686868;
    border-left: 1px solid #EAEDE6;
    padding: 0;
    margin-top: 3px;
    text-align: right
}

.zona43 [type="submit"] i.fa-search {
    margin-right: 0px;
}

.caja2 {
    margin: 20px;
    height: 150px;
    width: 300px;
}

.caja21 {}
.caja21 li {
    text-decoration: none;
    list-style:none;
}
.caja21 li a{
    text-decoration: none;
    list-style:none;
    color: white;
}

.caja3 {
    text-align: center;
    margin: 20px;
    height: 150px;
    width: 300px;
}

.contacto {
    color: white;
    text-align: center;
    font-size: 20px;
}
.caja31 {
    width: 300px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style:none;
    font-size: 40px;

}
.caja31 li {}
.caja31 li i {
    margin: 5px;
}
/* ================
footer - Media
================ */

@media (max-width: 768px) {
    footer {
        height: auto;
    }
    
    footer .newsletter {
        height: auto;
        width: 100%;
    }
    footer .zona41 {
    }
    footer .zona42 {
    }
    .busca2 {
        width: 100%;
        height: auto;
    }
    .zona43 {
    }

    .caja2 {
        margin-top: 10px;
        height: auto;
        width: 100%;
    }
    
    .caja21 {
        text-align: center;
    }
    .caja21 li {
    }
    .caja21 li a{
    }
    
    .caja3 {
        text-align: center;
        height: auto;
        width: 100%;
        margin: 0px;
    }
    
    .contacto {
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .caja31 {
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        list-style:none;
        font-size: 40px;
    
    }
    .caja31 li {}
    .caja31 li i {
        margin: 5px;
    }
}

/**********************************************************************/
/**********************************************************************/
/**********************************************************************/

@media (max-width: 870px){

    main .caja {
        width: 450px;
    }

}

@media (max-width: 450px){
    
    main .caja {
        width: 90%;
    }

}