<header>
    <div class="brand">
        <!--<img class="logo" src="" alt="Logo">-->
        <a href="/"><i id="class1" class="fas fa-beer"></i></a>

        <div class="busca">
            <form action="/products/search">
                <input id="search" name="search" type="text" value="<%=  (typeof busquedaPrevia == 'undefined') ? '' : busquedaPrevia %>"><button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <nav class="login">
                <ul>
                    <% if (typeof hayUnUsuario != 'undefined'){ %> 
                        <li>
                            <a href="/users/edit/<%= hayUnUsuario.id %>">Bienvenido <%= hayUnUsuario.nombre %> <i class="fas fa-edit editar"></i></a>
                        </li>
                        <li><a href="/users/logOut">
                            <i class="fas fa-door-closed"></i>
                        </a></li>
                    <% } else{%>
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/register">Registro</a></li>
                    <%}%>
                        <li><a href="/products/cart">Carrito</a></li>
                </ul>
            </nav>
        </div>
        <nav class="barra">
            <button class="burguer"><i id="class2" class="fas fa-bars"></i></button>
            <ul>
                <li><a href="#loMasVendido">Ofertas</a></li>
                <li><a href="#loNuevo">Lo Nuevo</a></li>
                <li><a href="/products">Productos</a></li>
                <% if (typeof hayUnUsuario != 'undefined'){ %> 
                <li><a href="/admin/products/create">Crear Productos</a>
                <% } %>     
                    <!-- <ul>
                        <li><a href="">Artesanales</a></li>
                            <ul>
                                <li><a href="">Opci贸n 1</a></li>
                                <li><a href="">Opci贸n 2</a></li>
                                <li><a href="">Opci贸n 3</a></li>
                                <li><a href="">Opci贸n 4</a></li>
                            </ul>
                        <li><a href="">Comerciales</a></li>
                        <li><a href="">Importadas</a></li>
                        <li><a href="">Recomendadas</a></li>
                    </ul> -->
                </li>
                <!-- <li><a href="#">Ayuda</a></li> -->
            </ul>
        </nav>
    </div>
</header>