<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2491779775.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/register.css">
    <title>Register</title>
</head>
<body>

    <header>
        <div class="brand">
            <!--<img class="logo" src="" alt="Logo">-->
            <i id="class1" class="fas fa-beer"></i>
            <nav class="barra">
                <button class="burguer"><i id="class2" class="fas fa-bars"></i></button>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <div class="busca">
                <form action="">
                    <input type="text" placeholder="Encuentra lo que buscas aqui..."><button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <nav class="login">
                    <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Registro</a></li>
                        <li><a href="#">Carrito</a></li>
                    </ul>
                </nav>    
            </div>
        </div>
    </header>

    <main>
        <div class="caja">
            <div class="boton">
                <a href="" class="crear">Ingresar</a><a href="" class="ingresar">Crear Cuenta</a>
            </div>
            <div class="redes">
                <h3>Entrar mediante redes sociales</h3>
                <div class="botones-redes">
                    <a href="#" class="mail"><i class="fab fa-google"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="formulario">
                <h3>Registrate con tu mail</h3>
                <form action="">
                    <input type="text" placeholder="Nombre y Apellido">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Contraseña">
                    <div>
                        <input type="checkbox">Recibir prociones
                    </div>
                    <div>    
                        <input type="checkbox">Acepto terminos y condiciones
                    </div>
                    <button type="submit">Registrarse</button>
                </form>
            </div>
            <p>Ya sos cliente? <a href="#">Ingresar</a></p>
        </div>
    </main>

    <footer>
        <div class="newsletter">
            <p class="zona41">NEWSLETTER</p>
            <p class="zona42">Suscribete al newsletter CERVECERO</p>
            <div class="busca2">
                <form class="zona43" action="">
                    <input type="email" placeholder="Suscribirse">
                    <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            </form>
        </div>
        <div class="caja2">
            <ul class="caja21">
                <li><a href="#">TÉRMINOS DE USO</a></li>
                <li><a href="#">PÓLITICA DE PRIVACIDAD</a></li>
                <li><a href="#">NOTIFICACIONES</a></li>
                <li><a href="#">PREGUNTAS FRECUENTES</a></li>
            </ul>
        </div>
        <div class="caja3">
            <p class="contacto">CONTACTÁNOS</p>
            <ul class="caja31">
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-instagram-square"></i></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>