<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/55a152fff0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="brand">
            <img class="logo" src="" alt="Logo">
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <div>
                <form action="">
                    <input type="text" placeholder="Qué estás buscando??"><button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                </ul>
            </div>
        </div>
    </header>
    <hr>
    <main>
        <div class="promo"> 
            <img src="" alt=""><a class="fotos" href="">FOTOS</a>
        </div>
    <hr>    
        <div class="zona1"> 
            <div class="zona11">
                <p class="titulo1">Lo Mas Vendido</p>
            </div>
            <div class="zona12">
                <ul><li><img src="" alt=""></li></ul>
                <ul><li><img src="" alt=""></li></ul>
                <ul><li><img src="" alt=""></li></ul>
                <ul><li><img src="" alt=""></li></ul>
            </div>
        </div>
    <hr>    
        <div class="zona2"> 
            <div class="zona21">
                <p class="titulo2">Nuevos</p>
            </div>
            <div class="zona22">
                <ul><li><img src="" alt=""></li></ul>
                <ul><li><img src="" alt=""></li></ul>
                <ul><li><img src="" alt=""></li></ul>
                <ul><li><img src="" alt=""></li></ul>
            </div>
        </div>
        <hr>
        <div class="zona3">
            <div class="zona31">
                <p class="titulo3">Categorías</p>
            </div>
            <nav class="zona32">
                <ul>
                    <li><a href="">Categoría 1</a></li>
                    <li><a href="">Categoría 2</a></li>
                    <li><a href="">Categoría 3</a></li>
                    <li><a href="">Categoría 4</a></li>
                    <li><a href="">Categoría 5</a></li>
                    <li><a href="">Categoría 6</a></li>
                </ul>
            </nav>
        </div>
        <hr>
        <div class="newsletter">
            <p class="zona41">NEWSLETTER</p>
            <p class="zona42">Déjanos tu email para recibir todas nuestras promociones</p>
            <form class="zona43" action="">
                <input type="email" placeholder="Déjanos tu email para recibir nuestras promociones??">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="idioma">
            <p class="idioma1">Idioma  </p> 
 
            <select class="idioma2" name="Idioma" id="">
                <option value="value1">Español</option>
                <option value="value1">Ingles</option>
                <option value="value1">Portugues</option>
            </select>
        </div>
    </main>
    <footer class="footer">
        <div class="caja1">
            <ul class="caja11">
                <li><a href="#">NUESTRA HISTORIA</a></li>
                <li><a href="#">NUESTRA EQUIPO</a></li>
                <li><a href="#">PORQUE ELEGIRNOS</a></li>
                <li><a href="#">SUCURSALES</a></li>
            </ul>
        </div>
        <div class="caja2">
            <ul class="caja21">
                <li><a href="#">TÉRMINOS DE USO</a></li>
                <li><a href="#">PÓLITICA DE PRIVACIDAD</a></li>
                <li><a href="#">NOTIFICACIONES</a></li>
                <li><a href="#">PREGUNTAS FRECUENTES</a></li>
            </ul>
        </div>
        <div class="caja3">CONTACTENOS
            <ul class="caja31">
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-instagram-square"></i></li>
            </ul>
        </div>
    </footer>
</body>
</html>