<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2491779775.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/login.css">
    <title>PÁGINA DE LOGIN</title>
</head>
<body>

    <header>
        <div class="menuIzq">
            <a href="#">
                <img src="logo.png" alt="">
            </a>
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">PRODUCTOS</a></li>
                    <li><a href="">CATEGORIAS</a></li>
                </ul>
            </nav>
        </div>
        <div class="menuDer">
            <form action="">
                <input type="text" placeholder="Qué estás buscando?">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <nav>
                <ul>
                    <li><a href="">Ingresar<i class="fas fa-user"></i></a></li>
                    <li><a href="">Cuenta<i class="far fa-user"></i></a></li>
                    <li><a href="">Carrito<i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="caja">
            <div class="boton">
                <a href="" class="crear">Ingresar</a><a href="" class="ingresar">Crear Cuenta</a>
            </div>
            <div class="redes">
                <h3>Entrar mediante redes sociales</h3>
                <div class="botones-redes">
                    <a href="#" class="mail"><i class="fab fa-google"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="formulario">
                <h3>Ingresar con tu mail</h3>
                <form action="">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Contraseña">
                    <a href="#">Olvidaste tu contraseña?</a>
                    <button type="submit">Ingresar</button>
                </form>
            </div>
            <p>Todavía no sos cliente? <a href="#">Regístrate acá</a></p>
        </div>
    </main>
    
</body>
</html>