<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head', {title: "Producto"}) %>

<body>

        
        <%- include('partials/header') %>


<div class="small-container single-product">
<div class="row">
<div class="col-2">
<img src="images/products/heineken.jpg" width="40%">
<div class="col-2">
<p>Marca | Heineken </p>
<h1>Heineken Lata 473 cm3</h1>
    <h4>$124.00</h4>
    <select>
        <option>Elegí la presentación que querés comprar
        </option>
        <option>Cerveza Heineken</option>
        <option>Pack 6 unidades</option>
        <option>Pack 12 unidades</option>
        <option>Pack 24 unidades</option>
    </select>
    <input type="number" value="1">
    <button> Añadir al carrito</button>
    <h3>Detalles del producto</h3>
    <p>El éxito de Heineken radica en los ingredientes puros y naturales: la cebada malteada, el agua, el lúpulo y un pequeño pero importante detalle llamado levadura tipo A. La singular levadura tipo A de Heineken es la responsable del rico sabor equilibrado y las sutiles notas afrutadas que han distinguido a cada Heineken desde el siglo XIX. A lo largo de los años nuestros maestros cerveceros continuaron perfeccionando su artesanía. Sabemos que la fermentación de la cerveza en tanques horizontales en lugar de verticales estándar crea la presión perfecta para nuestra levadura tipo A. Eso es lo que da a cada Heineken su característico sabor intenso y equilibrado. También hemos aprendido que se tardan 28 días en preparar cerveza de hermoso color dorado. Sin duda es mucho más tiempo que la media, pero preferimos la paciencia y no sacrificar la calidad.</p>
</div>
</div>
</div>
</div>
<hr color="#6d6875" size=15>
<section class="titulo">
    <h2>Clientes que compraron este producto también compraron:</h2>
</section>
<section>
    <article>
        <img src="./images/products/brahma.jpg" alt="BRAHMA">
        <h2>Lata Brahma 473cc</h2>
        <p>AR$ 59,99</p>
        <button>Más info</button>
    </article>
    <article>
        <img src="./images/products/Quilmes.jpg" alt="QUILMES">
        <h2>Lata Quilmes 473cc </h2>
        <p>AR$ 55,99</p>
        <button>Más info</button>
    </article>
    <article>
        <img src="./images/products/Pack Grolsch.jpg" alt="PACK GROLSCH">
        <h2>Lata Grolsch 473cc x 24u.</h2>
        <p>AR$ 1369,99</p>
        <button>Más info</button>
    </article>
    </section>
</div>
<div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>
   
   
    <%- include('partials/footer') %>
    
</body>
</html>