<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2491779775.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/register.css">
    <title>Login</title>
</head>
<body>

    <header>
        <div class="brand">
            <!--<img class="logo" src="" alt="Logo">-->
            <a href="../"><i id="class1" class="fas fa-beer"></i></a>
    
            <div class="busca">
                <form action="">
                    <input type="text" placeholder="Encuentra lo que buscas aqui..."><button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <nav class="login">
                    <ul>
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/register">Registro</a></li>
                        <li><a href="/products/cart">Carrito</a></li>
                    </ul>
                </nav>    
            </div>
            <nav class="barra">
                <button class="burguer"><i id="class2" class="fas fa-bars"></i></button>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="caja">
            <div class="boton">
                <a href="#" class="ingresar">Ingresar</a><a href="/users/register" class="crear">Crear Cuenta</a>
            </div>
            <div class="redes">
                <h3>Entrar mediante redes sociales</h3>
                <div class="botones-redes">
                    <a href="#" class="mail"><i class="fab fa-google"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="formulario">
                <h3>Ingresar con tu mail</h3>
                <form action="" method="POST">
                    <input type="email" placeholder="Email" name="email" value="<%= (locals.old && !errors.email) ? old.email :'' %>">
                    <small class="text-danger">
                        <%= (locals.errors&&errors.email) ? errors.email.msg : "" %>
                    </small>

                    <input type="password" placeholder="Contraseña" name="password">
                    <small class="text-danger">
                        <%= (locals.errors&&errors.password) ? errors.password.msg : "" %>
                        <%= (typeof noCoincidence != 'undefined') ? noCoincidence[0].msg : "" %>
                    </small>

                    <a href="#">Olvidaste tu contraseña?</a>
                    <div>    
                        <input type="checkbox" name="recordame">
                        <label for="recordame">Desea ser recordado en este dispositivo</label>
                    </div>
                    <button type="submit">Ingresar</button>
                </form>
            </div>
            <p>Todavía no sos cliente? <a href="/users/register">Regístrate acá</a></p>
        </div>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>
    <footer>
        <div class="newsletter">
            <p class="zona41">NEWSLETTER</p>
            <p class="zona42">Suscribete al newsletter CERVECERO</p>
            <div class="busca2">
                <form class="zona43" action="">
                    <input type="email" placeholder="Suscribirse">
                    <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            </form>
        </div>
        <div class="caja2">
            <ul class="caja21">
                <li><a href="#">TÉRMINOS DE USO</a></li>
                <li><a href="#">PÓLITICA DE PRIVACIDAD</a></li>
                <li><a href="#">NOTIFICACIONES</a></li>
                <li><a href="#">PREGUNTAS FRECUENTES</a></li>
            </ul>
        </div>
        <div class="caja3">
            <p class="contacto">CONTACTÁNOS</p>
            <ul class="caja31">
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-instagram-square"></i></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>